<section id="bannerwrap" class="clearfix">
    <div class="zen-container">
        <!-- banner -->
        <div class="row-fluid">
            <div class="span12 item-first">
                <div id="banner">

                    <div class="moduletable ">
                        <div class="module-inner">
                            <div class="zen-module-body">
                                <!--[if !IE]>
                                <style type="text/css">
                                    .jackbox-modal img.jackbox-content {

                                        image-rendering: optimizeSpeed;
                                        width: inherit !important;
                                        height: inherit !important;
                                        max-width: inherit !important;
                                    }
                                </style>
                                <![endif]-->


                                <div id="zentools128" class="slideshow slideshowflat  ">
                                    <div class="zentools slideshow flexslider zenrounded count4 ">

                                        <ul id="zentoolslist128" class="slides zenleft">
                                            
                                            <li class="grid_twelve element">
                                                
                                                <div class="zenitem zenitem1  text auto">
                                                    <div class="zeninner">
                                                        <div class="column grid_six">

                                                            <div class="zentext element1 firstitem animated bounceInLeft">
                                                                <h2><span
                                                                        style="font-family: &#39;trebuchet ms&#39;, geneva;">Профнастил</span>
                                                                </h2>
                                                                <p style="font-size: 18px; color: #fbfb18;">
                                                                    <span style="font-family: tahoma, arial, helvetica, sans-serif;"><span
                                                                            style="color: #fa470a; font-size: 24px;"><span
                                                                            style="color: #fbfb18;">Профнастил от С8 до С-44!</span></span><span
                                                                            style="color: #fa470a; font-size: 24px;"></span></span>
                                                                </p></div>

                                                            <div class="zenmore element2 animated fadeInDown"><a
                                                                    target="_self" class=" btn btn-primary"
                                                                    href="profnastil.html"
                                                                    data-behavior="content"><span
                                                                    class="readon">Подробнее</span></a></div>

                                                        </div>
                                                        <div class="column2 grid_six zenlast">
                                                            <div class="zenimage element4 animated bounceInUp">
                                                                <a target="_self"
                                                                   href="profnastil.html"
                                                                   data-behavior="content"><img
                                                                        data-original="images/slider/profnastil.png"
                                                                        src="img/profnastil.png"
                                                                        alt="Профнастил" title="Профнастил"></a>
                                                            </div>


                                                        </div>
                                                        <div class="clear"></div>
                                                    </div>
                                                </div>

                                            </li>
                                            
                                            <li class="grid_twelve element">
                                                
                                                <div class="zenitem zenitem2  text auto">
                                                    <div class="zeninner">
                                                        <div class="column grid_six">


                                                            <div class="zentext element1 firstitem animated bounceInUp">
                                                                <h2><span
                                                                        style="font-family: &#39;trebuchet ms&#39;, geneva;">Металлочерепица</span>
                                                                </h2>
                                                                <p><span
                                                                        style="font-size: 18pt; color: #fbfb18;">Большой выбор различных форм металлочерепицы!<span
                                                                        style="font-size: 24pt; color: #fe110b; text-decoration: underline;"></span></span>
                                                                </p></div>

                                                            <div class="zenmore element2 animated fadeInDown"><a
                                                                    target="_self" class=" btn btn-primary"
                                                                    href="https://profnastil-saratov.ru/metallocherepitsa"
                                                                    data-behavior="content"><span
                                                                    class="readon">Подробнее</span></a></div>

                                                        </div>
                                                        <div class="column2 grid_six zenlast">
                                                            <div class="zenimage element4 animated bounceInUp bounceInRight">
                                                                <a target="_self"
                                                                   href="https://profnastil-saratov.ru/metallocherepitsa"
                                                                   data-behavior="content"><img
                                                                        data-original="images/slider/metallcherepica.png"
                                                                        src="img/metallcherepica.png"
                                                                        alt="Металлочерепица в Саратове"
                                                                        title="Металлочерепица в Саратове"></a>
                                                            </div>


                                                        </div>
                                                        <div class="clear"></div>
                                                    </div>
                                                </div>

                                            </li>
                                            
                                            <li class="grid_twelve element flex-active-slide">

                                                <div class="zenitem zenitem3  text auto">
                                                    <div class="zeninner">
                                                        <div class="column grid_six">


                                                            <div class="zentext element1 firstitem animated bounceInLeft">
                                                                <h2><span
                                                                        style="font-family: &#39;trebuchet ms&#39;, geneva;">Водосточные системы</span>
                                                                </h2>
                                                                <p><span
                                                                        style="font-family: &#39;trebuchet ms&#39;, geneva; color: #fbfb18;"><span
                                                                        style="font-size: 12pt;"><span
                                                                        style="font-size: 18pt;"></span><span
                                                                        style="font-size: 18pt;">АКЦИЯ! СКИДКА НА МЕТАЛЛИЧЕСКИЕ ВОДОСТОКИ</span></span><span
                                                                        style="font-size: 24pt;">&nbsp;&nbsp;<span
                                                                        style="color: #ff050d;"><span
                                                                        style="color: #fe110b;"><span
                                                                        style="color: #fbfb18;">20%</span></span></span></span></span>&nbsp;
                                                                </p></div>

                                                            <div class="zenmore element2 animated fadeInDown"><a
                                                                    target="_self" class=" btn btn-primary"
                                                                    href="https://profnastil-saratov.ru/vodostochnye-sistemy"
                                                                    data-behavior="content"><span
                                                                    class="readon">Подробнее</span></a></div>

                                                        </div>
                                                        <div class="column2 grid_six zenlast">
                                                            <div class="zenimage element4 animated bounceInUp">
                                                                <a target="_self"
                                                                   href="https://profnastil-saratov.ru/vodostochnye-sistemy"
                                                                   data-behavior="content"><img
                                                                        data-original="images/slider/vodostok.png"
                                                                        src="img/vodostok.png"
                                                                        alt="Водосточные системы в Саратове"
                                                                        title="Водосточные системы в Саратове"></a>
                                                            </div>


                                                        </div>
                                                        <div class="clear"></div>
                                                    </div>
                                                </div>

                                            </li>
                                        </ul>

                                        <div class="slide-controller discs zenrelative zenlast zenpadding">
                                            <div class="slidenavdiscs slidenav128">

                                                <ul class="slidenav zenleft">
                                                    <li class=""><span>1</span></li>
                                                    <li class=""><span>2</span></li>
                                                    <li class="flex-active active"><span>3</span></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="clear"></div>

                                <link rel="stylesheet" href="css/zentools.css" type="text/css">
                                <link rel="stylesheet" href="css/grid.css" type="text/css">


                                <link rel="stylesheet" href="css/slideshow-core.css" type="text/css">
                                <link rel="stylesheet" href="css/slideshow-flat.css" type="text/css">


                                <script type="text/javascript" charset="utf-8">
                                    jQuery(window).load(function () {
                                        jQuery('#zentools128').flexslider({
                                            animation: "fade",
                                            slideDirection: "horizontal",
                                            smoothHeight: false,
                                            prevText: "<i class='icon-left-circle'></i><span></span>",
                                            nextText: "<i class='icon-right-circle'></i><span></span>",
                                            manualControls: ".slidenav128 ul li",
                                            slideshow: true,
                                            slideshowSpeed: 6000,
                                            animationSpeed: 600,
                                            directionNav: false,
                                            controlNav: true,
                                            keyboardNav: true,
                                            mousewheel: false,
                                            slideToStart: 0,
                                            animationLoop: true,
                                            pauseOnAction: true,
                                            pauseOnHover: false,
                                            controlsContainer: '#zentools128 .slide-controller',

                                            start: function (slider) {
                                                jQuery('#zentools128 .current-slide').text(slider.currentSlide + 1);
                                                jQuery('#zentools128 .total-slides').text(slider.count);
                                                jQuery('#zentools128 .slidecount').fadeIn();

                                            },

                                            before: function (slider) {

                                                jQuery("#zentools128 .allitems.text").slideUp();

                                            },
                                            after: function (slider) {
                                                jQuery("#zentools128 .allitems.text").slideDown();
                                                jQuery('#zentools128 .current-slide').text(slider.currentSlide + 1);

                                            }
                                        });

                                        jQuery("#zentools128 .flex-control-nav a,#zentools128 .flex-direction-nav a,.slidenav128 ul li").click(function () {
                                            jQuery("#zentools128 .allitems.text").slideUp();
                                        });


                                    });
                                </script>


                                <script type="text/javascript">
                                    jQuery(function () {
                                        jQuery('#zentoolslist128 a[data-behavior="content"], #zentoolslist128 a[data-behavior="external"]').unbind().on('click', function (e) {
                                            e.preventDefault();

                                            window.location = jQuery(this).attr('href');

                                            return false;
                                        });
                                    });
                                </script>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- banner -->    </div>
</section>