    <!-- FOOTER -->
    <footer id="footerwrap" class="wrap zen-footer">
        <section class="zen-copyright">
            <div class="zen-container">
                <div class="row-fluid">
                    <div class="span8 copyright">

                        <ul class="nav ">
                            <li class="item-229"><a href="/">Главная</a></li>
                            <li class="item-238 parent"><span class="separator">Продукция</span>
                            </li>
                            <li class="item-236 current active"><a
                                    href="contact.html">Контакты</a></li>
                            <li class="item-303"><a class="myphone" href="tel:+78452255633">☎ 255-633</a></li>
                            <li class="item-301"><a class="myphone" href="tel:+78452401122">☎ 40-11-22</a></li>
                        </ul>

                    </div>
                    <div class="span4">
                        <div id="zen-copyright">
                            <a class="jblink" href="/"><span>© Ваша Кровля - Кровля и кровельные материалы, Фасады и фасадные системы, Металлические заборы и ограждения. Саратов</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript"> (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter43773594 = new Ya.Metrika({
                    id: 43773594,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true,
                    webvisor: true
                });
            } catch (e) {
            }
        });
        var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
            n.parentNode.insertBefore(s, n);
        };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks"); </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/43773594" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript> <!-- /Yandex.Metrika counter -->


    <!-- //FOOTER -->