<!-- SIDEBAR 2 -->
<div class="sidebar sidebar-2 span4 affix-top">

    <div class="moduletable ">
        <div class="module-inner">
            <div class="zen-module-title">
                <h3><span>Наша продукция</span></h3>
            </div>
            <div class="zen-module-body">

                <ul class="nav ">
                    <li class="item-235 current active deeper dropdown parent"><a
                            class="dropdown-toggle"
                            href="https://profnastil-saratov.ru/profnastil"
                            data-toggle="dropdown">Профнастил<b class="caret"></b></a>
                        <ul class="nav-child unstyled small dropdown-menu nav-list">
                            <li class="item-272"><a
                                    href="https://profnastil-saratov.ru/profnastil/profnastil-c8">С-8</a>
                            </li>
                            <li class="item-274"><a
                                    href="https://profnastil-saratov.ru/profnastil/profnastil-mp10">МП-10</a>
                            </li>
                            <li class="item-273"><a
                                    href="https://profnastil-saratov.ru/profnastil/profnastil-mp20">МП-20</a>
                            </li>
                            <li class="item-275"><a
                                    href="https://profnastil-saratov.ru/profnastil/profnastil-c21">С-21</a>
                            </li>
                            <li class="item-276"><a
                                    href="https://profnastil-saratov.ru/profnastil/profnastil-nc35">НС-35</a>
                            </li>
                            <li class="item-277"><a
                                    href="https://profnastil-saratov.ru/profnastil/profnastil-c44">С-44</a>
                            </li>
                        </ul>
                    </li>
                    <li class="item-237 deeper dropdown parent"><a class="dropdown-toggle"
                                                                   href="https://profnastil-saratov.ru/metallocherepitsa"
                                                                   data-toggle="dropdown">Металлочерепица<b
                            class="caret"></b></a>
                        <ul class="nav-child unstyled small dropdown-menu nav-list">
                            <li class="item-296"><a
                                    href="https://profnastil-saratov.ru/metallocherepitsa/monterrey">Монтеррей</a>
                            </li>
                            <li class="item-297"><a
                                    href="https://profnastil-saratov.ru/metallocherepitsa/super-monterrey">СуперМонтеррей</a>
                            </li>
                            <li class="item-305"><a
                                    href="https://profnastil-saratov.ru/metallocherepitsa/monterrosa">Монтерроса</a>
                            </li>
                            <li class="item-313"><a
                                    href="https://profnastil-saratov.ru/metallocherepitsa/montekristo">Монтекристо</a>
                            </li>
                            <li class="item-316"><a
                                    href="https://profnastil-saratov.ru/metallocherepitsa/tramontana">Трамонтана</a>
                            </li>
                        </ul>
                    </li>
                    <li class="item-240 deeper dropdown parent"><a class="dropdown-toggle"
                                                                   href="https://profnastil-saratov.ru/sajding"
                                                                   data-toggle="dropdown">Сайдинг<b
                            class="caret"></b></a>
                        <ul class="nav-child unstyled small dropdown-menu nav-list">
                            <li class="item-263"><a
                                    href="https://profnastil-saratov.ru/sajding/kdoska">Корабельная
                                Доска</a></li>
                            <li class="item-265"><a
                                    href="https://profnastil-saratov.ru/sajding/lbrus">Lбрус</a>
                            </li>
                            <li class="item-264"><a
                                    href="https://profnastil-saratov.ru/sajding/woodstock">WoodStock
                                (Бревно)</a></li>
                        </ul>
                    </li>
                    <li class="item-241 deeper dropdown parent"><a class="dropdown-toggle"
                                                                   href="https://profnastil-saratov.ru/vodostochnye-sistemy"
                                                                   data-toggle="dropdown">Водосточные
                        системы<b class="caret"></b></a>
                        <ul class="nav-child unstyled small dropdown-menu nav-list">
                            <li class="item-266"><a
                                    href="https://profnastil-saratov.ru/vodostochnye-sistemy/prestij">Водосточная
                                Система МП Престиж</a></li>
                            <li class="item-270"><a
                                    href="https://profnastil-saratov.ru/vodostochnye-sistemy/modern">Водосточная
                                Система МП Модерн</a></li>
                        </ul>
                    </li>
                    <li class="item-242"><a
                            href="https://profnastil-saratov.ru/elementy-bezopasnosti-krovli">Элементы
                        безопасности кровли</a></li>
                    <li class="item-243"><a
                            href="https://profnastil-saratov.ru/dobornye-elementy">Доборные
                        элементы</a></li>
                    <li class="item-244"><a
                            href="https://profnastil-saratov.ru/soputstvuyushchie-tovary">Сопутствующие
                        товары</a></li>
                    <li class="item-252"><a href="https://profnastil-saratov.ru/shtaketnik">Металлический
                        Штакетник</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="moduletable  hot">
        <div class="module-inner">
            <div class="zen-module-title">
                <h3><span>Акция!!!</span></h3>
            </div>
            <div class="zen-module-body">


                <div class="custom">
                    <p><a href="https://profnastil-saratov.ru/woodstock"><span
                            style="font-size: 12pt;">Сайдинг WoodStock (Бревно) от</span>&nbsp;<strong><span
                            style="font-size: 14pt;">630</span><span
                            style="font-size: 14pt;">&nbsp;руб. / кв.м.</span></strong></a>
                    </p></div>
            </div>
        </div>
    </div>

</div>
<!-- //SIDEBAR 2 -->